body{
  margin: 0;
  padding: 0;
  font-family:'Arial', 'serif';
  background-image: url(dark-honeycomb.png);
}

.jumbotron {
  background-image: url("screen.png");
  background-size: cover;
  text-align: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  min-height: 600px;
  font-family: 'Ultra', serif;
  color: black;
}

.jumbotron h1 {
  font-size: 40px;
  position: relative;
  top: 100px;
  right: 75px;
}

.description {
  font-size: 20px;
  position: relative;
  top: 100px;
  right: 75px;
}

#btn-xlarge {
  background-color: transparent;
  border: none;
  position: relative;
  bottom: 110px;
  left: 30px;
  padding-bottom: 50px;
}

#btnGroupDrop1 {
  background-color: transparent;
  border: none;
  position: relative;
  bottom: 110px;
  left: 30px;
}

#welcome {
  font-size: 15px;
  position: relative;
  top: 10px;
  right: 500px;
}

.container {
    font-size: 14px;
    color: #666666;
    font-family: "Open Sans";
    background-image: url(dark-honeycomb.png)
}

.card-custom {
  overflow: hidden;
  max-height: 450px;
  box-shadow: 0 0 15px rgba(10, 10, 10, 0.3);
}

.card-custom-img {
  height: 200px;
  min-height: 200px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-color: inherit;
}

/* First border-left-width setting is a fallback */
.card-custom-img::after {
  position: absolute;
  content: '';
  top: 161px;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-top-width: 40px;
  border-right-width: 0;
  border-bottom-width: 0;
  border-left-width: 545px;
  border-left-width: calc(575px - 5vw);
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: inherit;
}

.card-custom-avatar img {
  border-radius: 50%;
  box-shadow: 0 0 15px rgba(10, 10, 10, 0.3);
  position: absolute;
  top: 100px;
  left: 1.25rem;
  width: 100px;
  height: 100px;
}

.card-title {
    color:black;
}
footer {
    background-color: black;
    color: white;
}

#username {
  padding: 100px;
  color: white;
}

#avatar {
  padding: 20px;
}

.profile-page {
  background-color: whitesmoke;
}

@media screen and (max-width: 1199px) {
  #welcome {
    position: relative;
    right:400px;
  }
  
  #btn-xlarge {
    position: relative;
    left: 50px;
    
  }
  
  #btnGroupDrop1 {
    position: relative;
    left: 50px;
  }
}

@media screen and (max-width: 991px) {
  .jumbotron h1 {
    font-size: 35px;
    position: relative;
    top: 100px;
    right: 50px;
  }
  
  .description {
    font-size: 15px;
    position: relative;
    top: 100px;
    right: 50px;
  }
  
  #welcome {
    position: relative;
    top: 30px;
    right: 275px;
  }
  
  #btn-xlarge {
    position: relative;
    bottom: 90px;
    left: 70px;
    font-size: 18px;
  }
  
  #btnGroupDrop1 {
    position: relative;
    bottom: 90px;
    left: 70px;
    font-size: 15px;
  }
}

@media screen and (max-width: 768px) {
  .jumbotron h1 {
    font-size: 25px;
    position: relative;
    top: 100px;
    right: 45px;
  }
  
  .description {
    font-size: 12px;
    position: relative;
    top: 100px;
    right: 45px;
  }
  
  #welcome {
    position: relative;
    top: 80px;
    right: 175px;
  }
  
  #btn-xlarge {
    position: relative;
    bottom: 65px;
    left: 85px;
    padding-bottom: 50px;
    font-size: 15px;
  }
  
  #btnGroupDrop1 {
    position: relative;
    bottom: 65px;
    left: 85px;
    font-size: 12px;
  }
}

@media screen and (max-width: 575px) {
  .jumbotron h1 {
    font-size: 20px;
    position: relative;
    top: 100px;
    right: 40px;
  }
  
  .description {
    font-size: 10px;
    position: relative;
    top: 100px;
    right: 40px;
  }
  
  #welcome {
    position: relative;
    top: 80px;
    right: 160px;
    font-size: 12px;
  }
  
  #btn-xlarge {
    position: relative;
    bottom: 35px;
    left: 50px;
    padding-bottom: 50px;
    font-size: 15px;
  }
  
  #btnGroupDrop1 {
    position: relative;
    bottom: 35px;
    left: 50px;
    font-size: 12px;
  }
}

#loginMessageNew{
 text-align: center;
 margin-top: 10px;
 margin-left: 50px;
}

#loginMessage{
  text-align: center;
  margin-top: 10px;
  margin-left: 100px;
  color: red;
 }