body{
  margin: 0;
  padding: 0;
  font-family:'Arial', 'serif';
  background-image: url(dark-honeycomb.png);
}

.jumbotron {
  background-image: url("screen.png");
  background-size: cover;
  text-align: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  min-height: 600px;
  font-family: 'Ultra', serif;
  color: black;
}

.jumbotron h1 {
  padding: 175px 350px 0px 0px;
}

.jumbotron h4 {
  padding: 0px 350px 0px 0px;
}

#btn-xlarge {
  background-color: #4E3730;
  position: relative;
  left: 10px;
  bottom: 310px;
  padding: 18px 28px;
  font-size: 40px;
  line-height: normal;
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
}

#btnGroupDrop1 {
  background-color: #4E3730;
  position: relative;
  left: 10px;
  bottom: 310px;
  padding: 18px 28px;
  font-size: 40px;
  line-height: normal;
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
}

#welcome {
  position: relative;
  left: 40px;
  bottom: 600px;
}

.container {
    font-size: 14px;
    color: #666666;
    font-family: "Open Sans";
    background-image: url(dark-honeycomb.png)
}

.card-custom {
  overflow: hidden;
  min-height: 450px;
  box-shadow: 0 0 15px rgba(10, 10, 10, 0.3);
}

.card-custom-img {
  height: 200px;
  min-height: 200px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-color: inherit;
}

/* First border-left-width setting is a fallback */
.card-custom-img::after {
  position: absolute;
  content: '';
  top: 161px;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-top-width: 40px;
  border-right-width: 0;
  border-bottom-width: 0;
  border-left-width: 545px;
  border-left-width: calc(575px - 5vw);
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: inherit;
}

.card-custom-avatar img {
  border-radius: 50%;
  box-shadow: 0 0 15px rgba(10, 10, 10, 0.3);
  position: absolute;
  top: 100px;
  left: 1.25rem;
  width: 100px;
  height: 100px;
}

.card-title {
    color:black;
}
footer {
    background-color: black;
    color: white;
}

#username {
  padding: 100px;
  color: white;
}

#avatar {
  padding: 20px;
}

.profile-page {
  background-color: whitesmoke;
}

