html {
    font-size: 14px;
}

body{
  margin: 0;
  padding: 0;
  font-family:'Arial', 'serif';
}

.nav {
  background-color: #595959;
  color: #fff;
  list-style: none;
  text-align: right;
  padding: 20px 0 20px 0;
}

.nav > li{
  display: inline-block;
  padding-right: 50px;
}

.nav > li > a {
  text-decoration: none;
  color: white;
}

.nav > li > a:hover {
  color: rgb(51, 70, 247)
}

.nav .search {
  float: left;
}

.nav input[type=text]{
  
  margin-top: 0;
  margin-bottom:20px;
  border: none;
  font-size: 17px;
}

.nav .search button{
  float: left;
  
  margin-bottom: 8px;
  font-size: 17px;
  border: none;
  background-color: green;
  cursor: pointer;
}

.jumbotron {
  background-image: url("screen.png");
  background-size: cover;
  text-align: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

body {
  background-image: url(dark-honeycomb.png)
}

.container {
    font-size: 14px;
    color: #666666;
    font-family: "Open Sans";
    background-image: url(dark-honeycomb.png)
}

.card-custom {
  overflow: hidden;
  min-height: 450px;
  box-shadow: 0 0 15px rgba(10, 10, 10, 0.3);
}

.card-custom-img {
  height: 200px;
  min-height: 200px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-color: inherit;
}

/* First border-left-width setting is a fallback */
.card-custom-img::after {
  position: absolute;
  content: '';
  top: 161px;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-top-width: 40px;
  border-right-width: 0;
  border-bottom-width: 0;
  border-left-width: 545px;
  border-left-width: calc(575px - 5vw);
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: inherit;
}

.card-custom-avatar img {
  border-radius: 50%;
  box-shadow: 0 0 15px rgba(10, 10, 10, 0.3);
  position: absolute;
  top: 100px;
  left: 1.25rem;
  width: 100px;
  height: 100px;
}

.card-title {
    color:black;
}
footer {
    background-color: black;
    color: antiquewhite;
}