body{
    margin: 0;
    padding: 0;
    font-family:'Arial', 'serif';
}

.nav {
    background-color: #595959;
    color: #fff;
    list-style: none;
    text-align: right;
    padding: 20px 0 20px 0;
}

.nav > li{
    display: inline-block;
    padding-right: 50px;
}

.nav > li > a {
    text-decoration: none;
    color: white;
}

.nav > li > a:hover {
    color: rgb(51, 70, 247)
}

.nav .search {
    float: left;
}

.nav input[type=text]{
    
    margin-top: 0;
    margin-bottom:20px;
    border: none;
    font-size: 17px;
}

.nav .search button{
    float: left;
    
    margin-bottom: 8px;
    font-size: 17px;
    border: none;
    background-color: green;
    cursor: pointer;
}
